.cabal-sandbox/
.cabal-sandbox-config
cabal.sandbox.config
.DS_Store
.stack-work

.*.swp
.*~
.idea/

dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
*.prof
*.aux
*.hp
*.eventlog
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# VSCode settings
.vscode/
